*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:blue;
}

body{
    background: linear-gradient(rgb(56, 4, 76),rgb(154, 22, 143),rgb(213, 181, 19)) ;
    min-height: 99vh;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

.header{
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 80px;
    color: (255, 255, 255)    ;
}

.header__container{
    max-width: 1920px;
    width: 1010px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    transform: translateY(-164%);
}

.logo{
    font-size: 24px;
    margin-top: 20px;
}

.header__menu{
    display: flex;
    list-style-type: none;
    padding-right: 50px;
    margin-top: 20px;
}
.menu__item{
    margin-right: 20px;
}
.menu__item:hover{
    border-bottom: 1px solid color:blue;
    color: rgb(197, 192, 44);
    transition: 1000ms;
}

.main{
    max-width: 1920px;
    width: 1010px;
    margin: 0 auto;  
}


.contacts{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
}
.contacts:nth-child(2){
    transform: translateY(20%)
}
.main__container{
    display: flex;
    justify-content: space-between;
}
